<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/estilos.css">
</head>

    <body>

        <div class="container-fluid">

            <header class="row d-flex justify-content-center">

                <div class="col-11">
                    <nav class="row navbar navbar-expand-lg navbar-dark">

                        <div class="container-fluid">
                            <img src="./img/codoacodo.png" class="logo_main" alt="logo de Codo a Codo">     
                            <span class="text-white navbar-brand">Conf Bs As</span>                  
                        </div>                                 
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a href="#" class="text-white nav-link active">La conferencia</a> 
                                <a href="#" class="nav-link">Los oradores</a> 
                                <a href="#" class="nav-link">El lugar y la fecha</a> 
                                <a href="#" class="nav-link">Convertite en orador</a> 
                                <a href="#" class="text-success nav-link">Comprar tickets</a> 
                            </div>
                        </div>

                    </nav>                    
                </div>      

            </header>

            <section class="row">
                <div class="col-12 cover-box p-0">
                    <img src="./img/ba1.jpg" class="w-100 h-100" alt="">
                </div>
                <div class="col-12 col-md-10 col-lg-6 fs-5 cover-content text-end position-absolute top-50 end-0 translate-middle-y">
                    <h1 class="text-white">Conf Bs As</h1>
                    <p class="text-white">
                        Bs As llega por primera vez a Argentina. Un evento para compartir con
                        nuestra comunidad el conocimiento y experiencia de los expertos que
                        están creando el futuro de internet. Vení a conocer a miembros del
                        evento, a otros estudiantes de Codo a Codo y los oradores de primer
                        nivel que tenemos para vos. Te esperamos!
                    </p>
                    <div class="row d-flex justify-content-end">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-light me-1">Quiero ser orador</button>
                            <button type="button" class="btn btn-success ms-1">Comprar tickets!</button>
                        </div>
                    </div>

                </div>
            </section>

            <main class="row">

                <div class="col-12 container">
                    <div class="row speakers">
                        <p class="text-center col-12 p-2">CONOCE A LOS
                            <br>
                            <span class="h2">ORADORES</span>
                        </p>
                        <div class="d-flex gap-4 justify-content-center flex-column flex-lg-row">
                            <article class="card col-12 align-self-center" style="width: 25rem;">
                                <img src="./img/steve.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Steve Jobs</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa numquam voluptatum repudiandae
                                       molestiae perferendis dolorem facilis maiores earum quidem perspiciatis. Explicabo fugit non modi qui, voluptatum
                                        maiores nisi tempore aut.</p>
                                </div>
                            </article>
                            <article class="card col-12 align-self-center" style="width: 25rem;">
                                <img src="./img/bill.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Bill Gates</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa numquam voluptatum repudiandae
                                    molestiae perferendis dolorem facilis maiores earum quidem perspiciatis. Explicabo fugit non modi qui, voluptatum
                                     maiores nisi tempore aut.</p>
                                </div>
                            </article>
                            <article class="card col-12 align-self-center" style="width: 25rem;">
                                <img src="./img/ada.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Ada Lovelace</h5>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa numquam voluptatum repudiandae
                                    molestiae perferendis dolorem facilis maiores earum quidem perspiciatis. Explicabo fugit non modi qui, voluptatum
                                     maiores nisi tempore aut.</p>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>

                <section class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-6"></div>
                        <div class="col-12 col-lg-6"></div>
                    </div>
                </section>

                <section class="col-12 container-md">
                    <form action=""></form>
                </section>

            </main>

            <footer></footer>

        </div>

    </body>

</html>