:root {
    --bg-gray: rgba(0, 0, 0, 0.75);
  }

.logo_main {
    width: 100px;
}

header {
    background-color: var(--bg-gray);
}

nav div {
    width: auto !important;
}

nav div a {
    text-decoration: none;
}

.cover-box {
    height: calc(100vh - 73px);
}

.cover-box img {
    object-fit: cover;
    filter: brightness(50%);
}

.cover-content {
    padding: 0 5%;
}